

/*age ajouter evenement*/

.body,label{
    font-family: poppins;
    color:#1D275F ;
    font-size: 25px;
    
}





#h1_ajout_evenement{
    color: #1D275F;
   
    font-family: poppins;
}


#nom{
    border-color: #FFC441;
    width: 372px;
    height: 81px;
}

#lieu{
    border-color: #FFC441;
    width: 372px;
    height: 81px;
    
}
#date{
    border-color: #FFC441;
    width: 372px;
    height: 81px;
}
#nombre{
    border-color: #FFC441;
    width: 372px;
    height: 81px;
}
#date_limite{
    border-color: #FFC441;
    width: 832px;
    height: 81px;
}
#image{
    border-color: #FFC441;
    width: 372px;
    height: 81px;
}
#description{
    border-color: #FFC441;
    width: 832px;
    height: 149px;
}

#ajouter_evenement{
    width: 200px;
    height: 65px;
    color: #1D275F;
    font-family: poppins;
    font-size: 25px;
}

.premier{
    display: flex;
    gap: 2em;
}

.deuxieme{
    display: flex;
    gap: 4em;
}

/* Ajouter Role*/

#nom_role{
    border-color: #FFC441;
    width: 372px;
    height: 81px;
}

#permission{
    border-color: #FFC441;
    width: 372px;
    height: 81px;
}

#ajouter_role{
    width: 200px;
    height: 65px;
    color: #1D275F;
    font-family: poppins;
    font-size: 25px;
}



@media screen and (max-width:480px){

    /*ajouter evenement*/
    
    #h1_ajout_evenement{
        text-align: center;
    }
    
    .premier{
        display: block;
    }

    .deuxieme{
        display: block;
    }

    #description{
        width: 360px;
    }

    #date_limite{
        width: 360px;
    }

    #ajouter_evenement{
        width: 360px;
        font-family: poppins;
    }

    #nom{
        width: 360px;
    }
    #lieu{
        width: 360px;
    }
    #nombre{
        width: 360px;
    }

    #image{
        width: 360px;
    }

    #date{
        width: 360px;
    }

    .form{
        padding: 2rem;
        
    }

    .body{
        overflow-x: hidden;
        
    }

    /* ajouter Role*/

    #ajouter_role{
        width: 360px;
    }

    #nom_role{
        width: 360px;
    }
   
    #permission{
        width: 360px;
    }

    #h1_ajout_role{
        margin-top: 10px;
        text-align: center;
        font-family: poppins;
        color: #1D275F;
    }
}